
*{
    font-family: 'Chillax', sans-serif;
    box-sizing: border-box!important;
}
.bgsection{
    background-color: #3B7FBF!important;
}


.nav-link{
    background-color: #FFFFFF!important;
}
a.nav-link {
    color:gray!important;
    font-weight:550!important;
    font-size: 18px!important;
  
}
a.nav-link:hover {
    color:#3B7FBF !important;
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-thickness:2.5px
}
.Btn{
    color: #FFFF;
    border-color: #FFFF;
    background-color: #3B7FBF;
    font-size: 15px;
    outline: none;
    border: none;
    border: 2px solid #FFFFFF;
}
.btn1{
    display: inline-block;
    background-color: #5E5E5E;
    color: #FFFFFF;
    border: none;
    width: 150px;
    font-weight:550;
    height:40px;
    border-radius: 5px;
    outline: none;
    border: none;

    
}
.btn2{
    display: inline-block;
    color: #5E5E5E;
    background-color: #FFFFFF;
    font-weight:550;
    border: none;
    width: 150px;
    height:40px;
    border-radius: 5px;
    outline: none;
    border: none;

}
.btn2:hover{
    color: #FFFFFF;
    background-color:#3B7FBF;
    border: none;
    width: 150px;
    height:40px;
    border-radius: 5px;

}
.btn3{
    background-color: #3B7FBF;
    border: none;
    width: 150px;
    height:40px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom:20px;
    font-weight:550;
    outline: none;
    border: none;
}
.btn3:hover{
    background-color: #5E5E5E ;
    font-weight:550;
}
.btn4 {
    display: inline-block;
    color: #5E5E5E;
    background-color: #FFFFFF;
    border: none;
    width: 150px;
    font-weight:550;
    height:40px;
    border-radius: 5px;
    outline: none;
    border: none;


}
.btn4:hover{
    color: #FFFFFF;
    background-color: #5E5E5E;

}
.btn5 {
    display: inline-block;
    color: #5E5E5E;
    background-color: #FFFFFF;
    border: none;
    width: 150px;
    font-weight:550;
    height:40px;
    border-radius: 5px;
    outline: none;
    border: none;

}
.btn5:hover{
    background-color: #3B7FBF!important;
    color: #FFFFFF;
}

.hed1{
    position: absolute;
    font-weight: bold;
    letter-spacing:5px;
    left:35%;
    top: 45%;
    color: #FFFFFF;
    font-size:55px;

}
@media screen and  (max-width: 991.98px)  {
    .hed1{
        position: absolute;
        font-weight: bold;
        letter-spacing:5px;
        left:25%;
        top: 40%;
        color: #FFFFFF;
        font-size:45px;
    
    }
    

 }
 @media screen and  (max-width: 767.98px) {
    .hed1{
        position: relative;
        font-weight: bold;
        letter-spacing:5px;
        left:25%;
        top: 40%;
        color: #FFFFFF;
        font-size:40px;
    
    }


  }

@media screen and  (max-width: 575.98px) {
    .hed1{
        position: relative;
        font-weight: bold;
        letter-spacing:5px;
        left:25%;
        top: 40%;
        color: #FFFFFF;
        font-size:35px;
    
    }

  }
  .imgsection{
    background:linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(./Component/Image/front\ image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 60vh;
  }
  .Sectxtsec{
    font-size: 15px;
    margin-top: 34px;
    text-align: center;
    padding-bottom: 34px;
   
  }
  .Sectxtsec h2{
    font-weight: bold;
    color: rgba(94,94,94,100%);
  }
  .Sectxtsec p{
    color: #5e5e5ef8;
    font-weight: 550;
  }
  .card{
    border: none!important;
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.151);

}
  /* Carousel  */
 
    
  .pr-head3{
    text-align: center;
   background-color: #5e5e5e3d;
   border-radius:10px;
   width: 80%;
}
.img-1-style{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    text-align: center;

    
}
.projects-hed1>h4{
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 28px;
    color: #5E5E5E;

}
.img-1-style>h3{
    background-color: rgba(128, 128, 128, 0.671);
    border-radius:5px;
    width: 100%;
    padding: 5px;
}
.img-1-style2{
     width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    text-align: center;

}
.img-1-style2>h3{
    background-color:rgba(128, 128, 128, 0.671);
    border-radius:5px;
    width: 100%;
    padding: 5px;
}
.projectsindictaors>div>a>.carousel-control-next-icon{
    border-radius: 50px!important;
    border: 2px solid #3B7FBF!important;
    background-color:#020f1b5e!important;
    padding: 20px; 
}
.projectsindictaors>div>a>.carousel-control-prev-icon{
    border-radius: 50px!important;
    border: 2px solid #3B7FBF!important;
    background-color:#020f1b5e!important; 
    padding: 20px;
}
@media screen and (max-width:768px) and (min-width:576px) {
    .img-1-style{
        height: 45vh;
        width: 350px;
    }
    .img-1-style2{
        height: 45vh;
        width: 350px;

    }
    
}
@media screen  and (max-width:576px) and (min-width:360px){
    .img-1-style{
        height:30vh;
        width: 250px;
    }
    .img-1-style2{
        height: 30vh;
        width: 250px;

    }
    .projectsindictaors>div>a>.carousel-control-next-icon{
      display: none!important;
    }
    .projectsindictaors>div>a>.carousel-control-prev-icon{
        display: none!important;
    }
    

    
}